*{box-sizing: border-box;}
.wrapper{height:auto;width:100%;border: 1px solid black;}
.logo{height:12vh;width:100%;box-shadow: 0 0px 3px 1px;}
.photo,.logout{float: left;}
.photo{line-height: 18vh;height:12vh;width:15%;}
.logout{height:12vh;width:10%;;line-height: 12vh;margin-left: 75%;}
.logout button{background-color: rgb(235, 62, 62);height: 5vh;}
.nav{width: 100%;height:12vh;background-color: rgb(12, 12, 41);display: flex;}
.person{width:15% ;height: 12vh;color: white;}
img{border-radius: 50%;margin-top: 2vh;}
ul{display: flex;gap: 5em;color: white;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;line-height: 8vh;margin-left: 50%;}
li{text-decoration: none;}
.container{width: 100%;height: 80vh;display:flex;border-top: 2px solid rgb(12, 12, 41);}
.left{width: 15%;height:80% ;background-color: rgb(12, 12, 41);overflow-y: scroll;border-bottom: 2px solid rgb(12, 12, 41);}
.left button{height:5vh;width:100% ;border:1px solid black;background-color: transparent;}
.main{width:85% ;height:80% ;overflow-y: scroll;border-bottom: 2px solid rgb(12, 12, 41);}
.left1{height:5vh;width:100% ;}
.left button:hover{cursor: pointer;background-color: white;}
.footer{height: 10vh;width: 100%;}

